header {
  background-image: url("../img/wall.png");
}

body {
  background-image: url(../img/cork.png);
}

p {
  font-family: ‘Sometype Mono’, ‘monospace’;
  font-size: 1.6rem;
}

.title {
  font-size: 6rem;
  font-family: "Edu TAS Beginner", sans-serif;
  font-weight: 900;
}

.card {
  position: relative;
}

.pin {
  width: 45px;
  position: absolute;
  top: -10px;
  left: 45%;
  z-index: 10;
  object-fit: cover;
}

@media (max-width: 768px) {
  h1 {
    font-size: 1.8rem;
  }
}
